/* FOOTER */
footer {
    background-color: #f8ddfd;
    height: 300px;
}

footer .footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

footer .footer-flex .links {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

footer .footer-flex .links nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 215px;
    height: 100%;
}

footer .footer-flex .links nav h2 {
    font-family: Quicksand;
    font-size: 20px;
    color: black;
    width: fit-content;
    padding-bottom: 2px;
    border-bottom: black 2px solid;
}

footer .footer-flex .links nav a {
    font-family: Quicksand;
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

footer .footer-flex .links nav a:hover {
    border-bottom: 4px groove #CA69E0;
    width: fit-content;
}

footer .icones-sociais {
    border-top: #CA69E0 2px solid;
    background-color: #f8ddfd;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
}

footer .icones-sociais p {
    font-family: Quicksand;
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
    text-decoration: none;
}

footer .icones-sociais .icones {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .icones-sociais .icones img {
    width: 30px;
    height: 30px;
}

footer .icones-sociais .bandeiras {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}