/* Main */

/* Banner */
main .banner {
    background-image: url(../assets/images/Background-Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
}

main .banner .banner-flex {
    display: flex;
    align-items: center;
    position: relative;
}

main .banner .banner-flex .tit {
    position: absolute;
    right: 0;
    width: 370px;
}

main .banner .banner-flex h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

main .banner .banner-flex h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: white;
    width: 360px;

}

main .banner .banner-flex button {
    font-family: "Quicksand";
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffc300;
    color: white;
    border: none;
    outline: none;
}

/* INFO */
main .info {
    height: 350px;
    background-color: #f8ddfd;
}

main .info-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .info .task {
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

main .info .task .topico {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .info .task .topico h3 {
    font-family: "Poppins";
    font-size: 20px;
    padding-right: 60px;
}

main .info .task p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    width: 215px;
}

/* loja */
main .loja {
    background-color: white;
    height: 1000px;
}

main .loja .loja-flex {
    display: flex;
    flex-wrap: wrap;
}

main .loja .loja-flex .tit-loja {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .loja .loja-flex .tit-loja h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

main .loja .loja-flex .tit-loja h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: black;
}

main .loja .loja-flex .tit-loja p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    width: 600px;
    text-align: center;
}

main .loja .loja-flex .produtos {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

main .loja .loja-flex .produtos .produto {
    width: 220px;
    height: 335px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .loja .loja-flex .produto:hover {
    box-shadow: -20px 20px 30px;
}

main .loja .loja-flex .produtos .produto img {
    width: 200px;
    height: 200px;
    margin-bottom: 35px;
}

main .loja .loja-flex .produto p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    text-align: none;
}

main .loja .loja-flex .produtos .produto a {
    font-family: "Quicksand";
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Variedades */
main .variedades {
    background-color: #f8ddfd;
    height: 850px;
}

main .variedades .variedades-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .variedades .variedades-flex .tit-variedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

main .variedades .variedades-flex .tit-variedades h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

main .variedades .variedades-flex .tit-variedades h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: black;
}

/* Outros Produtos */
main .variedades .variedades-flex .outros-produtos {
    position: relative;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: space-evenly;
}

main .variedades .variedades-flex .outros-produtos h3 {
    font-family: "Poppins";
}

main .variedades .variedades-flex .outros-produtos p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    padding-top: 10px;
    padding-bottom: 10px;
}

main .variedades .variedades-flex .outros-produtos button {
    font-family: "Quicksand";
    font-weight: bold;
    color: #CA69E0;
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: #CA69E0 2px solid;
    outline: none
}

/* Mais-Produtos-1 */
main .variedades .variedades-flex .outros-produtos .mais-produtos-1 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    width: 350px;
    height: 100%;
    background-image: url(../assets/images/iphones.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-1:hover {
    box-shadow: -20px 20px 30px;
}

/* Mais-Produtos-2 */
main .variedades .variedades-flex .outros-produtos .mais-produtos-2 {
    width: 350px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(../assets/images/iphone-gold.png);
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-2:hover {
    box-shadow: -20px 20px 30px;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-2 h3 {
    width: 120px;
    ;
}

/* Mais-Produtos */
main .variedades .variedades-flex .outros-produtos .mais-produtos-3 {
    width: 350px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(../assets/images/smartwatch.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-3:hover {
    box-shadow: -20px 20px 30px;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-4 {
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 735px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(../assets/images/notebooks.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-4:hover {
    box-shadow: -20px 20px 30px;
}

/* Aparelhos */

main .aparelhos {
    background-color: white;
    height: 700px;
}

main .aparelhos .aparelhos-flex .tit-aparelhos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

main .aparelhos .aparelhos-flex .tit-aparelhos h1 {
    font-family: "Poppins";
    font-size: 45px;
    color: black;
}

main .aparelhos .aparelhos-flex .tit-aparelhos nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

main .aparelhos .aparelhos-flex .tit-aparelhos nav a {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

main .aparelhos .aparelhos-flex .tit-aparelhos nav a:hover {
    border-bottom: 4px groove #CA69E0;
}

/* Loja Aparelhos */
main .aparelhos .aparelhos-flex .loja-aparelhos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 415px;
}

main .aparelhos .aparelhos-flex .loja-aparelhos .aparelho {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 370px;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .aparelhos .aparelhos-flex .loja-aparelhos .aparelho:hover {
    box-shadow: -20px 20px 30px;
}

/* Imagem do Aparelho */
main .aparelhos .aparelhos-flex .aparelho .ap {
    height: 150px;
}

main .aparelhos .aparelhos-flex .aparelho h3 {
    font-family: "Poppins";
    width: 140px;
}

main .aparelhos .aparelhos-flex .aparelho p {
    font-family: "Quicksand";
    font-weight: bold;
    text-align: left;
    width: 140px;
    padding-bottom: 15px;
}

/* Icone de Carrinho */
main .aparelhos .aparelhos-flex .aparelho .cart {
    width: 50px;
    height: 45px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    padding: 5px;
    border-radius: 50%;
    border: #CA69E0 2px solid;
}

main .aparelhos .setas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

main .aparelhos .setas .seta-r {
    position: absolute;
    border: #CA69E0 2px solid;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    margin-right: 100px;
    padding: 5px;
    transition: width 1s;
}

main .aparelhos .setas .seta-r:hover {
    width: 100px;
}

main .aparelhos .setas .seta-l {
    position: absolute;
    border: #CA69E0 2px solid;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    margin-left: 100px;
    padding: 5px;
    transition: width 1s;

}

main .aparelhos .setas .seta-l:hover {
    width: 100px;
}

/* Parte do fone em promocao */
main .promo-fones {
    background-color: #f8ddfd;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

main .promo-fones .promo-fones-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

main .promo-fones .promo-fones-flex .tit-promo-fones {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .promo-fones .promo-fones-flex .tit-promo-fones h1 {
    font-family: Poppins;
    font-size: 60px;
}

main .promo-fones .promo-fones-flex .coluna-1 {
    background-color: white;
    width: 300px;
    height: 345px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .promo-fones .promo-fones-flex .coluna-1:hover {
    box-shadow: -20px 20px 30px;
}

main .promo-fones .promo-fones-flex .coluna-1 h2 {
    font-family: Poppins;
    font-size: 20px;
    padding-top: 25px;
}

main .promo-fones .promo-fones-flex .coluna-1 nav {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}


main .promo-fones .promo-fones-flex .coluna-1 nav {
    height: 215px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .promo-fones .promo-fones-flex .coluna-1 nav a {
    text-decoration: none;
    width: fit-content;
}

main .promo-fones .promo-fones-flex .coluna-1 nav a:hover {
    border-bottom: 4px groove #CA69E0;
}

main .promo-fones .promo-fones-flex img {
    height: 500px;
    width: 500px;
}

main .promo-fones .promo-fones-flex .coluna-2 {
    background-color: transparent;
    height: 500px;
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .promo-fones .promo-fones-flex .coluna-2 h2 {
    font-family: Poppins;
    font-size: 20px;
}

main .promo-fones .promo-fones-flex .coluna-2 .precos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
}

main .promo-fones .promo-fones-flex .coluna-2 .precos h3 {
    font-family: Poppins;
    font-size: 20px;
}

main .promo-fones .promo-fones-flex .coluna-2 .precos p {
    font-family: 'Quicksand';
    font-size: 15px;
    text-decoration: line-through;
    text-decoration-color: red;
}

main .promo-fones .promo-fones-flex .coluna-2 p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
}

main .promo-fones .promo-fones-flex .coluna-2 .progresso {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Poppins;
    font-size: 12px;
}

main .promo-fones .promo-fones-flex .coluna-2 .barra-de-progresso input {
    width: 338px;
}

main .promo-fones .promo-fones-flex .coluna-2 .botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .promo-fones .promo-fones-flex .coluna-2 button {
    width: 150px;
    height: 40px;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: #CA69E0;
    color: white;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: bold;
}

/* Inovacoes */
main .inovacoes {
    background-color: white;
    height: 700px;
}

main .inovacoes .inovacoes-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

main .inovacoes .inovacoes-flex .tit-inovacoes {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .inovacoes .inovacoes-flex .tit-inovacoes h2 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

main .inovacoes .inovacoes-flex .tit-inovacoes h1 {
    font: 40px Poppins;
}

main .inovacoes .inovacoes-flex .top-inovacoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
}

main .inovacoes .inovacoes-flex .top-inovacoes .inova {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .inovacoes .inovacoes-flex .top-inovacoes .inova:hover {
    box-shadow: -20px 20px 30px;
}

main .inovacoes .inovacoes-flex .top-inovacoes .inova img {
    height: 175px;
    width: 100%;
}

main .inovacoes .inovacoes-flex .top-inovacoes .inova .tit-inova {
    padding-left: 15px;
    padding-top: 15px;
}

main .inovacoes .inovacoes-flex .top-inovacoes .inova h2 {
    font: 20px Poppins;
    width: 220px;
}

main .inovacoes .inovacoes-flex .top-inovacoes .inova p {
    font: 12px Quicksand;
}

main .inovacoes .setas {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

main .inovacoes .setas .seta-r {
    position: absolute;
    border: #CA69E0 2px solid;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    margin-right: 100px;
    padding: 5px;
    transition: width 1s;
}

main .inovacoes .setas .seta-r:hover {
    width: 100px;
}

main .inovacoes .setas .seta-l {
    position: absolute;
    border: #CA69E0 2px solid;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    margin-left: 100px;
    padding: 5px;
    transition: width 1s;

}

main .inovacoes .setas .seta-l:hover {
    width: 100px;
}

/* Subscribe  */
main .subscribe {
    height: 370px;
    width: 100%;
    background-image: url(../assets/images/background_subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main .subscribe .subscribe-flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main .subscribe .subscribe-flex .tit-subscribe {
    height: 200px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .subscribe .subscribe-flex .tit-subscribe h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

main .subscribe .subscribe-flex .tit-subscribe h1 {
    font: 35px Poppins;
    color: white;
}

main .subscribe .subscribe-flex .tit-subscribe p {
    font-family: Quicksand;
    color: white;
    width: 530px;
}

main .subscribe .subscribe-flex .escrever-email {
    width: 450px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

main .subscribe .subscribe-flex .escrever-email input {
    padding-left: 10px;
    height: 100%;
    width: 300px;
    border: none;
    outline: none;
}

main .subscribe .subscribe-flex .escrever-email input::placeholder {
    font-family: Quicksand;
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    padding-left: 10px;
    border: none;
    outline: none;
}

main .subscribe .subscribe-flex .escrever-email button {
    background-color: #ffc300;
    width: 125px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
}