@media screen and (max-width: 768px) {

    /* HEADER */
    header .grid-layout {
        max-width: 768px;
        width: 90%;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100vw;
        height: 130px;
    }

    header .header-flex {
        position: relative;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
    }

    header input {
        width: 100%;
    }

    header nav {
        position: fixed;
        z-index: 90;
        top: 75px;
        left: 1000px;
        z-index: 101;
        background-image: linear-gradient(to right bottom, rgba(185, 12, 189, 0.7), rgba(104, 63, 239, .5));
        backdrop-filter: blur(7px);
        width: 300px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: left 1s;
    }

    header .mostrar-menu {
        left: 0 !important;
    }

    header nav a {
        z-index: 91;
        border-top: 2px rgba(243, 93, 245, 0.7) solid;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header nav a:first-of-type {
        border-top: none;
    }

    header .icones {
        position: absolute;
        top: 10px;
        right: 0;
    }

    header h1 {
        position: absolute;
        top: 10px;
        left: 0;
    }

    /* MAIN */

    /* ===BANNER=== */
    main .banner {
        width: 100%;
        height: 500px;
        margin-top: 130px;
    }

    /* ===INFO=== */
    main .info {
        height: 1000px;
    }

    main .info .info-flex {
        flex-direction: column;
        justify-content: space-evenly;
    }

    /* ===LOJA=== */

    main .loja {
        height: 2000px;
    }

    main .loja .loja-flex {
        flex-direction: column;
        align-items: center;
    }

    main .loja .loja-flex .tit-loja {
        height: 250px;
    }

    main .loja .loja-flex .tit-loja h1 {
        font-size: 30px;
    }

    main .loja .loja-flex .tit-loja p {
        width: 350px;
    }

    main .loja .loja-flex .produtos {
        flex-direction: column;
        height: 1630px;
    }

    /* ==VARIEDADES== */
    main .variedades {
        height: 2000px;
    }

    main .variedades .variedades-flex {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    main .variedades .variedades-flex .outros-produtos {
        position: static;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 1500px;
    }

    main .variedades .variedades-flex .outros-produtos .mais-produtos-1 {
        height: 500px;
        width: 300px;
    }

    main .variedades .variedades-flex .outros-produtos .mais-produtos-2 {
        width: 300px;
    }

    main .variedades .variedades-flex .outros-produtos .mais-produtos-3 {
        width: 300px;
    }


    main .variedades .variedades-flex .outros-produtos .mais-produtos-4 {
        position: static;
        background-image: url(../assets/images/notebook_mobile_variedades.png);
        width: 300px;
        height: 500px;
    }

    /* ==APARELHOS=== */
    main .aparelhos {
        height: 2000px;
    }

    main .aparelhos .aparelhos-flex {
        flex-direction: column;

    }

    main .aparelhos .aparelhos-flex .tit-aparelhos {
        flex-direction: column;
    }

    main .aparelhos .aparelhos-flex .loja-aparelhos {
        padding-top: 50px;
        height: 1700px;
        align-items: center;
        flex-direction: column;
    }

    main .aparelhos .aparelhos-flex .tit-aparelhos h1 {
        font-size: 30px;
        padding-top: 45px;
    }

    main .aparelhos .aparelhos-flex .tit-aparelhos nav {
        width: 335px;
    }

    main .aparelhos .setas {
        display: none;
    }

    /* ==PROMO-FONE== */
    main .promo-fones {
        height: 1250px;
    }

    main .promo-fones .promo-fones-flex {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    main .promo-fones .promo-fones-flex .tit-promo-fones {
        border: none;
        flex-direction: column;
    }

    main .promo-fones .promo-fones-flex .tit-promo-fones h1 {
        font-size: 30px;
    }

    .promo-fones .promo-fones-flex img {
        padding-top: 50px;
    }

    main .promo-fones .promo-fones-flex .coluna-1 {
        display: none;
    }

    /* ==INOVACOES== */
    main .inovacoes {
        height: 1800px;
    }

    main .inovacoes .inovacoes-flex {
        flex-direction: column;
    }

    main .inovacoes .inovacoes-flex .tit-inovacoes {
        flex-direction: column;
        align-items: center;
    }

    main .inovacoes .inovacoes-flex .top-inovacoes {
        align-items: center;
        flex-direction: column;
        height: 1400px;
    }

    main .inovacoes .setas {
        display: none;
    }

    /* ==SUBSCRIBE== */
    main .subscribe .subscribe-flex {
        flex-direction: column;
    }

    main .subscribe .subscribe-flex .escrever-email {
        width: 100%;
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    main .subscribe .subscribe-flex .tit-subscribe {
        text-align: center;
        width: 100%;
    }

    main .subscribe .subscribe-flex .tit-subscribe p {
        width: 100%;
    }

    main .subscribe .subscribe-flex .escrever-email input {
        width: 300px;
        height: 40px;
    }

    main .subscribe .subscribe-flex .escrever-email button {
        height: 40px;
    }

    /* ==FOOTER== */
    footer {
        height: 840px;
    }

    footer .footer-flex {
        flex-direction: column;
    }

    footer .footer-flex .links {
        width: 100%;
        height: 100%;
        padding-left: 25px;
        flex-direction: column;
    }

}