@font-face {
    font-family: "Noto_Sans";
    src: url(//assets/fonts/Noto_Sans/NotoSans-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-layout {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to right, rgb(187, 10, 187), rgb(79, 79, 255));
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

main {
    background-image: linear-gradient(to right, rgb(187, 10, 187), rgb(79, 79, 255));
    width: 100%;
    height: 1000px;
}