/* Importando Fontes */
@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Quicksand";
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* Classes Genericas */
.grid-layout {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* Cabecalho */
header {
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to right, rgb(187, 10, 187), rgb(145 36 212), rgb(100 65 241));
}

header .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

header input {
    width: 463px;
    height: 47px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding-left: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

header nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

header .icones {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

header .icones img {
    width: 30px;
    height: 30px;
}

header .icones .border-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: rgb(255, 255, 255, .5) 2px solid;
    border-radius: 50%;
}

header .icones .border-icons:hover {
    background-color: rgb(183, 0, 255);
    box-shadow: -2px 3px blueviolet;
}

/* Main */

/* Banner */
main .banner {
    background-image: url(../assets/images/Background-Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1000px;
}

main .banner .banner-flex {
    display: flex;
    align-items: center;
    position: relative;
}

main .banner .banner-flex .tit {
    position: absolute;
    right: 0;
    width: 370px;
} 

main .banner .banner-flex h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}

main .banner .banner-flex h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: white;
    width: 360px;

}

main .banner .banner-flex button {
    font-family: "Quicksand";
    font-weight: bold;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color:#ffc300;
    color: white;
    border: none;
    outline: none;
}

/* INFO */
main .info {
    height: 350px;
    background-color: #f8ddfd;
}

main .info-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .info .task {
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

main .info .task .topico {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .info .task .topico h3 {
    font-family: "Poppins";
    font-size: 20px;
    padding-right: 60px;
}

main .info .task p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    width: 215px;
}

/* loja */
main .loja {
    background-color: white;
    height: 1000px;
}

main .loja .loja-flex {
    display: flex;
    flex-wrap: wrap;
}

main .loja .loja-flex .tit-loja {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .loja .loja-flex .tit-loja h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

main .loja .loja-flex .tit-loja h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: black;
}

main .loja .loja-flex .tit-loja p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    width: 600px;
    text-align: center;
}

main .loja .loja-flex .produtos {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

main .loja .loja-flex .produtos .produto {
    width: 220px;
    height: 335px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main .loja .loja-flex .produto:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .1);
}

main .loja .loja-flex .produtos .produto img {
    width: 200px;
    height: 200px;
    margin-bottom: 35px;
}

main .loja .loja-flex .produto p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    text-align: none;
}

main .loja .loja-flex .produtos .produto a {
    font-family: "Quicksand";
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

/* Variedades */
main .variedades {
    background-color: #f8ddfd;
    height: 850px;
}

main .variedades .variedades-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .variedades .variedades-flex .tit-variedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

main .variedades .variedades-flex .tit-variedades h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

main .variedades .variedades-flex .tit-variedades h1 {
    font-family: "Poppins";
    font-size: 60px;
    color: black;   
}

/* Outros Produtos */
main .variedades .variedades-flex .outros-produtos {
    position: relative;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: space-evenly;
} 

main .variedades .variedades-flex .outros-produtos h3 {
    font-family: "Poppins";
}

main .variedades .variedades-flex .outros-produtos p {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    padding-top: 10px;
    padding-bottom: 10px;
}

main .variedades .variedades-flex .outros-produtos button {
    font-family: "Quicksand";
    font-weight: bold;
    color: #CA69E0;
    background-color: white;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: #CA69E0 2px solid;
    outline: none
}

/* Mais-Produtos-1 */
main .variedades .variedades-flex .outros-produtos .mais-produtos-1 {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
    width: 350px;
    height: 100%;
    background-image: url(../assets/images/iphones.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Mais-Produtos-2 */
main .variedades .variedades-flex .outros-produtos .mais-produtos-2 {
    width: 350px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(../assets/images/iphone-gold.png);
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-2 h3 {
    width: 120px;;
}

/* Mais-Produtos */
main .variedades .variedades-flex .outros-produtos .mais-produtos-3 {
    width: 350px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(../assets/images/smartwatch.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main .variedades .variedades-flex .outros-produtos .mais-produtos-4 {
    position: absolute;
    right: 35px;
    bottom: 0;
    width: 735px;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    background-image: url(../assets/images/notebooks.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Aparelhos */

main .aparelhos {
    background-color: white;
    height: 700px;
}

main .aparelhos .aparelhos-flex .tit-aparelhos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

main .aparelhos .aparelhos-flex .tit-aparelhos h1 {
    font-family: "Poppins";
    font-size: 45px;
    color: black; 
}

main .aparelhos .aparelhos-flex .tit-aparelhos nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

main .aparelhos .aparelhos-flex .tit-aparelhos nav a {
    font-family: "Quicksand";
    font-size: 15px;
    color: rgba(0, 0, 0, .5);
    text-decoration: none;
}

main .aparelhos .aparelhos-flex .tit-aparelhos nav a:hover {
    border-bottom: 4px groove #CA69E0;
}

/* Loja Aparelhos */
main .aparelhos .aparelhos-flex .loja-aparelhos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 415px;
}

main .aparelhos .aparelhos-flex .loja-aparelhos .aparelho{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    height: 370px;
    box-shadow: 14px 20px 20px rgba(0, 0, 0, .1);
    transition: box-shadow 0.5s;
}

main .aparelhos .aparelhos-flex .loja-aparelhos .aparelho:hover {
    box-shadow:  -20px 20px 30px;
}

/* Imagem do Aparelho */
main .aparelhos .aparelhos-flex .aparelho .ap  {
    height: 150px;
}

main .aparelhos .aparelhos-flex .aparelho h3 {
    font-family: "Poppins";
    width: 140px;
}

main .aparelhos .aparelhos-flex .aparelho p {
    font-family: "Quicksand";
    font-weight: bold;
    text-align: left;
    width: 140px;
    padding-bottom: 15px;
}

/* Icone de Carrinho */
main .aparelhos .aparelhos-flex .aparelho .cart {
    width: 50px;
    height: 45px;
    position: absolute;
    bottom: 20px;
    right: 25px;
    padding: 5px;
    border-radius: 50%;
    border: #CA69E0 2px solid;
}

main .aparelhos .setas {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
}

main .aparelhos .setas .seta-r {
    position: absolute;
    border: #CA69E0 2px solid;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    margin-right: 100px;
    padding: 5px;
    transition: width 1s;
}

main .aparelhos .setas .seta-r:hover {
    width: 100px;
 }

main .aparelhos .setas .seta-l {
    position: absolute;
    border: #CA69E0 2px solid;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    margin-left: 100px;
    padding: 5px;
    transition: width 1s;

}

main .aparelhos .setas .seta-l:hover {
   width: 100px;
}

/* Parte do fone em promocao */
main .promo-fones {
    background-image: url(../assets/images/fones-headset-promo.png);
    background-repeat: no-repeat;
    background-size: cover;

    height:  1000px;
}